<?xml version="1.0"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="H_Net.Service.ServiceContract" behaviorConfiguration="ServiceBehavior">
				<endpoint binding="webHttpBinding" contract="H_Net.ServiceContract.IServiceContract" behaviorConfiguration="webHttp" />
				
					<host>
					<baseAddresses>
						<add baseAddress="http://localhost:6040/H_Net.Service.ServiceContract" />
						<!--<add baseAddress="http://localhost:6040/H_Net.Service.Seerviceimplentation" />-->
						<!--<add baseAddress="net.tcp://localhost:6042/AstroExchange.Services.AstroExchangeService" />-->
					</baseAddresses>
					<!--<timeouts openTimeout="00:00:30" />-->
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				
				</behavior>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true" />
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="webHttp">
					<webHttp />
				
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483648" maxQueryString="2147483648" maxUrl="2147483648"/>
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
  
</configuration>
